<h1>Editing Metacard</h1>

<div class='col-lg-4 col-md-4 col-sm-12 col-xs-12'>
<img src="http://gatherer.wizards.com/Handlers/Image.ashx?type=card&name=<%= @metacard.name %>">
</div>
<div class='col-lg-8 col-md-8 col-sm-12 col-xs-12'>
<%= render 'form' %>
</div>
<%= link_to 'Show', @metacard %> |
<%= link_to 'Back', metacards_path %>
